[submodule "lib/unicode"]
	path = lib/unicode
	url = https://github.com/MLJWare/unicode
	branch = master
[submodule "lib/pleasure"]
	path = lib/pleasure
	url = https://github.com/MLJWare/pleasure
	branch = master
